PlayerStatsClient/Connected Services/PlayerStatsRef/PlayerStatsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlayerStatsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlayerStatsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStatistics" nillable="true" type="tns:PlayerStatistics" />
</xs:schema>