PlayerStatsClient/Connected Services/PlayerStatsRef/PlayerStatsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlayerStatsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63063/PlayerStatsService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63063/PlayerStatsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63063/PlayerStatsService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlayerStatsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerStatsService_GetPlayerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerName" />
  </wsdl:message>
  <wsdl:message name="IPlayerStatsService_GetPlayerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerStatsService_GetPlayerStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStats" />
  </wsdl:message>
  <wsdl:message name="IPlayerStatsService_GetPlayerStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerStatsService">
    <wsdl:operation name="GetPlayerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerStatsService/GetPlayerName" message="tns:IPlayerStatsService_GetPlayerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerStatsService/GetPlayerNameResponse" message="tns:IPlayerStatsService_GetPlayerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerStatsService/GetPlayerStats" message="tns:IPlayerStatsService_GetPlayerStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerStatsService/GetPlayerStatsResponse" message="tns:IPlayerStatsService_GetPlayerStats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlayerStatsService" type="tns:IPlayerStatsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayerName">
      <soap:operation soapAction="http://tempuri.org/IPlayerStatsService/GetPlayerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStats">
      <soap:operation soapAction="http://tempuri.org/IPlayerStatsService/GetPlayerStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerStatsService">
    <wsdl:port name="BasicHttpBinding_IPlayerStatsService" binding="tns:BasicHttpBinding_IPlayerStatsService">
      <soap:address location="http://localhost:63063/PlayerStatsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>